
<ion-content [fullscreen]="true">
  <ion-row>
    <ion-app>
        <ion-menu contentId="main-content">
          <ion-header>

            <ion-toolbar class="menu_toolbar" >
              <ion-title>Menu</ion-title>
            </ion-toolbar>
            
            <ion-title>Personagens da nintendo</ion-title>
            <ion-row class="ion-content-center link">
              <ion-col size="10" class="ion-text-center">
                <ion-button expand="block" color="tertiary">Mario</ion-button> 
              </ion-col>
            </ion-row>

            <ion-row class="ion-content-center link">
              <ion-col size="10" class="ion-text-center">
                <ion-button expand="block" color="tertiary">Peach</ion-button> 
              </ion-col>
            </ion-row>

            <ion-row class="ion-content-center link">
              <ion-col size="10" class="ion-text-center">
                <ion-button expand="block" color="tertiary">Luigi</ion-button>
              </ion-col>
            </ion-row>

            <ion-row class="ion-content-center link">
            <ion-col  size="10"class="ion-text-center">
              <ion-button expand="block" color="tertiary">Yoshi</ion-button>
            </ion-col>
          </ion-row>

          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">Bowser</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">toad</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">wario</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">waluigi</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">Daisy</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">Rosalina</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">Donk Kong</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">Diddy Kong</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">Lakitu</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">Shy Guy</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-content-center link">
            <ion-col size="10" class="ion-text-center">
              <ion-button expand="block" color="tertiary">sobre</ion-button>
            </ion-col>
          </ion-row>
     
         
        </ion-header>
          
      </ion-menu>
           
          
        <div class="ion-page" id="main-content">
          <ion-header>
            <ion-toolbar>

             
                <ion-buttons slot="start">
                  <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-col size="2">
                  <ion-text>
                    Menu
                  </ion-text>
                </ion-col>
                  
              <ion-col size="2">
                <img src="https://logosmarcas.net/wp-content/uploads/2020/11/Nintendo-Logo.png" alt="">
              </ion-col>

            </ion-toolbar>
          </ion-header>
          
        </div>
      </ion-app>
    </ion-row>


</ion-content>
